In [2]:
import numpy as np
import pandas as pd

lst0=[0,1,2, 3] #表示df的一行
lst1 = [10, 11, 12, 13]
lst2 = [20, 21, 22, 23]
lst3 = [30, 31, 32, 33]
lst4 = [40, 41, 42, 43]
lst5 = [50, 51, 52, 53]

ds=pd.DataFrame(data=[lst0, lst1, lst2, lst3, lst4, lst5], columns=['col1','col2','col3', 'col4']) #从列表生成DF
ds

   col1  col2  col3  col4
0     0     1     2     3
1    10    11    12    13
2    20    21    22    23
3    30    31    32    33
4    40    41    42    43
5    50    51    52    53