In [ ]:
#a = "3.414"
#a = 3.414
round(a, 2)

In [ ]:
#a = "3.414"
a = 3.4
#b = float(a)
float('%.2f'  % a)

In [ ]:
#str = '额外    红包    250'
str = 'this is hello    world'
ls = str.split(' ')
print(ls)
for c in ls:
    if (c != ''):
        print(c)

In [ ]:
str = 'this is  a hello world'
s1 = ''
s2 = ' '
s = 'a'
if s == 'a':
    print('s is a')

if s1 == Null:
    print("s1 is '' ")

if s2 == ' ':
    print("s2 is '' ")

In [ ]:


dir('')
['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [ ]:
 2 List list=new ArrayList<>();
 3 list.add("我是字符串");
 4 list.add(123);
 5 list.add(new HashMap<>());
 6 System.out.println(list);

 7 list.remove(0);//根据下标移除
 8 System.out.println(list);
 9 list.remove(Integer.valueOf(123));//根据元素内容进行移除
10 System.out.println(list);

In [ ]:
#str = '额外    红包    250'
str = 'this is hello    world'
ls = str.split(' ')
print(ls)

for c in ls:
    print(c)

    if c == '   ':
        print("this is a tab")
        ls.remove(' ')
    if c == '':
        print("this is a ''")
        ls.remove('')
ls

In [4]:

str = "额外    红包    250\n"
#str = 'this is hello    world'
ls = []
ls = str.split(' ')
print(ls)
tmp = []

for item in ls:
    #print(c)
    if item != '':
        tmp.append(item)

tmp

['额外', '', '', '', '红包', '', '', '', '250\n']

['额外', '红包', '250\n']

In [33]:
#str = "额外    红包    250\n"
#str = 'this hello    world\n'
str = 'this'
print(str)
#str.replace('   ', ' ')
str.replace("t", 'a')

print(str)
print("end")

this
this
end

In [21]:
s  =  'abc:123'
# 字符串拼接方式去除冒号
new_s  =  s[: 3 ]  +  s[ 4 :]
print (new_s)

abc123

In [22]:
# 去除字符串中相同的字符
s  =  '\tabc\t123\tisk'
print (s.replace( '\t' , ''))
 
 
import  re
# 去除\r\n\t字符
s  =  '\r\nabc\t123\nxyz'
print (re.sub( '[\r\n\t]' , '', s))

abc123isk
abc123xyz

In [28]:
s  =  'abc123xyz'
# a _> x, b_> y, c_> z，字符映射加密
print ( str.maketrans( 'abcxyz' ,  'xyzabc' ))
# translate把其转换成字符串
print (s.translate( str.maketrans( 'abcxyz' ,  'xyzabc' )))

{97: 120, 98: 121, 99: 122, 120: 97, 121: 98, 122: 99}
xyz123abc

In [1]:
d = {'额外': 0, '固定': 1, '抖音': 2}
d.keys()

dict_keys(['额外', '固定', '抖音'])

In [36]:
s  =  'abcdef'
print (s.replace( 'a' , 't'))

tbcdef

In [14]:
d = {'额外': 0, '固定': 1, '抖音': 2}
d['age'] = 34
d['申'] = '张恒'
tmp1 = d.keys()
tmp2 = d.values()
print(tmp1)
print(tmp2)
print(list(tmp1))
print(list(tmp2))

dict_keys(['额外', '固定', '抖音', 'age', '申'])
dict_values([0, 1, 2, 34, '张恒'])
['额外', '固定', '抖音', 'age', '申']
[0, 1, 2, 34, '张恒']

In [13]:
ls = [1, 3, 5, 7]
ls
for i in ls:
    if i == 5 :
        break
    print(i)

1
3

In [23]:
a = 10
print('value', a)

value 10

In [22]:
ditem = {'extera': 0, 'fixed': 5, 'douyin': 2}
line = ['鸡腿', '10', 'extera', 'fixed']
print (ditem.get(line[0]) == None)

True

In [24]:
i = 3
i += 1
i

4

In [25]:
ls = [1, 2, 3]
ls = [4, 5, 6]
ls

[4, 5, 6]

In [26]:
ls = [[0, 1, 2], [10, 11, 12]]
for i,j , k in ls:
    print(i, j, k)

0 1 2
10 11 12

In [27]:
import pandas as pd
cl = ['a', 'b', 'c']
df = pd.DataFrame(data=ls, columns=cl)
df

    a   b   c
0   0   1   2
1  10  11  12